process {
    withName: validate_file {
        cpus = 1
        memory = 1.GB
        }

    withName: call_sSV_Delly {
        cpus = 63
        memory = 940.GB
        }

    withName: regenotype_sSV_Delly {
        cpus = 63
        memory = 940.GB
        }

    withName: filter_sSV_Delly {
        cpus = 63
        memory = 940.GB
        }
    } 
