process {
    withName: validate_file {
        cpus = 1
        memory = 1.GB
        }

    withName: delly_call_NT {
        cpus = 63
        memory = 940.GB
        }

    withName: delly_regenotype_NT {
        cpus = 63
        memory = 940.GB
        }

    withName: delly_filter_NT {
        cpus = 63
        memory = 940.GB
        }
    } 

