params {
    dataset_id = "TEST"
    blcds_registered_dataset = false
    sge_scheduler = false

    input_paired_bams = "/hot/users/yupan/projects/pipeline-call-sSV/pipeline/input/tumor_control_pair_0.csv"

    input_control_bams = "/hot/users/yupan/projects/pipeline-call-sSV/pipeline/input/control_samples.csv"

    sample_types = "/hot/users/yupan/projects/pipeline-call-sSV/pipeline/input/sample_types.tsv"

    reference_fasta = "/hot/ref/hg38/genome/genome.fa"
    exclusion_file = "/hot/ref/hg38/delly/human.hg38.excl.tsv"

    save_intermediate_files = true
    output_dir = "/hot/users/yupan/projects/run/call-sSV/output"
    temp_dir = "/scratch/call-sSV/work"

    SINGLE_CTRL_SAMPLE = "SingleCtrlSample"
    ALL_CTRL_SAMPLES = "AllCtrlSamples"

    skip_regenotype = false

    // Pipeline tool versions
    delly_version = '0.8.7'
    bcftools_version = '1.12'
    validate_version = '2.1.5'
    }

includeConfig "${projectDir}/config/methods.config"

