params {
    dataset_id = "TEST"
    blcds_registered_dataset = false
    sge_scheduler = false

    view_channels = false

    input_paired_bams = "/hot/pipelines/development/slurm/call-sSV/input/tumor_control_pair_0.csv"

    reference_fasta = "/hot/ref/reference/GRCh38-BI-20160721/Homo_sapiens_assembly38.fasta"

    exclusion_file = "/hot/ref/tool-specific-input/Delly/GRCh38/human.hg38.excl.tsv"

    output_dir = "/hot/pipelines/development/slurm/call-sSV/output"

    temp_dir = "/scratch/call-sSV"

    save_intermediate_files = true
    cache_intermediate_pipeline_steps = false

    // Pipeline tool versions
    delly_version = '0.8.7'
    bcftools_version = '1.12'
    validate_version = '2.1.5'

    }

includeConfig "${projectDir}/config/methods.config"

