params {
    dataset_id = "TEST"
    blcds_registered_dataset = false
    sge_scheduler = false

    input_paired_bams = "/hot/pipelines/development/slurm/call-sSV/input/tumor_control_pair_0.csv"
    input_control_bams = "/hot/pipelines/development/slurm/call-sSV/input/control_samples.csv"

    reference_fasta = "/hot/ref/hg38/genome/genome.fa"
    exclusion_file = "/hot/ref/hg38/delly/human.hg38.excl.tsv"

    output_dir = "/hot/pipelines/development/slurm/call-sSV/output_auto_sample_tsv"
    temp_dir = "/scratch/call-sSV/work"

    save_intermediate_files = true

    SINGLE_CTRL_SAMPLE = "SingleCtrlSample"
    ALL_CTRL_SAMPLES = "AllCtrlSamples"

    skip_regenotype = false

    // Pipeline tool versions
    delly_version = '0.8.7'
    bcftools_version = '1.12'
    validate_version = '2.1.5'
    }

includeConfig "${projectDir}/config/methods.config"

