// External config files import
includeConfig "${projectDir}/config/methods.config"

manifest {
    name = "call-sSV"
    mainScript = "main.nf"
    nextflowVersion = ">=20.07.1"
    author = "Yu Pan, Ghouse Mohammed, Mohammed Faizal Eeman Mootor"
    homePage = "https://github.com/uclahs-cds/pipeline-call-sSV"
    description = "A pipeline to call somatic SVs utilizing Delly"
    version = "2.0.0"
    }
