process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
        }

    withName: preprocess_BAM_GRIDSS {
        cpus = 4
        memory = 15.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }

    withName: run_assembly_GRIDSS {
        cpus = 8
        memory = 20.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }

    withName: call_sSV_Delly {
        cpus = 1
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }

    withName: filter_sSV_Delly {
        cpus = 1
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }

    withName: query_SampleName_BCFtools {
        cpus = 1
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }

    withName: call_sSV_Manta {
        cpus = 1
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }
    }

